
<ion-content> 
  <ion-icon id="mainIconUser" name="person-circle-outline"></ion-icon>
  <div id="divBlur">
    <img id="bubbleTopRight" src="../../assets/images/bubble top right.png">
    <img id="bubleBottomLeft" src="../../assets/images/bubble top left.png">
    <img id="bubbleMidRight" src="../../assets/images/bubble top right2.png">
    <img id="bubbleBottonRight" src="../../assets/images/bubble top right2.png">
    <img id="bubbleTopLeft" src="../../assets/images/bubble bottom left.png">
  </div>
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card-title>
        <h1>Ingreso</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content card-transparent>
      <form class="centrado">
        <ion-item color="none">
          <ion-input class="centrado" type='email' placeholder="Ingrese su correo" [(ngModel)]="user.email" name="email"
            required>
          </ion-input>
        </ion-item>
        <ion-item color="none">
          <ion-input class="centrado" type='password' placeholder="Ingrese su contraseña" [(ngModel)]="user.password"
            name="password" required></ion-input>
        </ion-item>
        <ion-button ion-button expand="full" shape="round" type="submit" (click)="onLogin()" block>Ingresar</ion-button>
      </form>
      <ion-item id="divUsuarios" class="centrado" color="none" lines="none">
       
        <ion-icon class="iconUser" name="finger-print-outline" *ngFor="let usuario of listaUsuarios" (click)="seleccionarUsuario(usuario)"></ion-icon>

        <!-- <ion-icon class="iconUser" *ngFor="let usuario of listaUsuarios" name="person-circle-outline"
          (click)="seleccionarUsuario(usuario)">
        </ion-icon> -->
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
