
  <ion-app>
    <!-- SPLASH -->
 <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
   <div class="flb">
     <div class="Aligner-item Aligner-item--top"></div>
     <img id="bubbleTopRight" src="../assets/images/bubble top right.png">
     <img id="bubleBottomLeft" src="../assets/images/bubble top left.png">
     <img id="bubbleMidRight" src="../assets/images/bubble top right2.png">
     <img id="bubbleBottonRight" src="../assets/images/bubble top right2.png">
     <img id="bubbleTopLeft" src="../assets/images/bubble bottom left.png">
     <p id="texto1">Hola chicos como andan?</p>
     <p id="texto2">Hola, todo bien.</p>
     <p id="texto3">Chicos tengo una duda, esto es PPS-4B o PPS-4A.</p>
     <p id="texto4">Porque soy de la noche, pero, curso a la mañana.</p>
     <p id="texto5">Es igual, estamos online.</p>
     <div class="Aligner-item Aligner-item--bottom"></div>
    
   </div>
 </div>
 <!-- END Splash -->
   <ion-router-outlet></ion-router-outlet>
 </ion-app>