ion-card{
    *{
        padding-top: 0;
        padding-bottom: 0;
    }
    border-radius: 5px;
    padding:0px;
    // max-width: 80%;
    background-color: rgb(95, 95, 95);
}
ion-content{
    --background:none;
    background: url("../../assets/images/whatsappBackground.jfif") no-repeat center / cover;
    *{
        color: white;
    }
}

#iconBack{
    font-size: 200%;
    display: inline-block;
    color: green;
}
ion-card-header{
    background-color: rgba(128, 128, 128, 0.1);

    background:transparent;
    font-weight: bold;
    margin-bottom: 3px;
}
ion-footer,ion-header{
    *{
        background-color: rgb(56, 56, 56);
        color: white;
    }
    background-color: rgb(56, 56, 56);

}
#titleGroup{
    position: absolute;
    top: 50%;
    font-size: 140%;
    transform: translateY(-15px);
    margin: 0;
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}



.soyYo{ 
    background-color: rgb(118, 131, 204);
}
.hora{
    position: relative;
    float:right;
    font-size: 9px;
    margin-bottom: 0px;
}
#sendButton{
    // color: rgb(54, 54, 54);
    position: relative;
    float: right;
    font-size: 200%;
    transform: translateY(3px);
    margin-right: 5px;
}
#sendButton:active{
    color: red;
}
ion-input {
    display: inline-block;
    max-width: 80%;
}
@keyframes send{
    from{
    }to{

        color: red;
    }
}
.PPS4A
{
    color: green !important;
}
.PPS4B{
    color: blue !important;
}
ion-grid{
    *{
        margin-top: 1px;
    }
}
ion-row,ion-col{
    margin: 0px;
    padding: 0px;
}
#spinner{
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: 99999;
    color: white;
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 10px 10px blue;
    animation-duration: 3s;
    animation-name: colores;
    animation-iteration-count: infinite;
}
@keyframes colores{
    from {
        box-shadow: 0 0 10px 10px blue;

    }
    33%{
        box-shadow: 0 0 10px 10px rgb(255, 0, 0);

    }
    66%{
        box-shadow: 0 0 10px 10px rgb(0, 255, 0);

    }
    to{
        box-shadow: 0 0 10px 10px blue;

    }
}