
ion-content,ion-header{
  --background: none;
  background-color: black;
  color: white;
}
.btnAulDos,.btnAulaUno{
  h1{
    font-size: 250%;
    color: white;
    position: absolute;
    top: 25%;
    left: 16%;
    text-shadow: 2px 2px blue;
  }
  box-shadow: 0px 10px rgb(0, 0, 255);  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(0, 0, 255);  border-top: none;
  background: transparent ;
  border-radius: 100%;
  overflow: hidden;
}
.btnAulDos{
  h1{
    text-shadow: 2px 2px green;

  }
  box-shadow: 0px 10px green;
  border: 1px solid green;

}


#btn4A{
  top: 20%;
  left: 22%;
}
#btn4B                                                                                {
  top: 60%;
  left: 22%;
}

.btnAula:active {
  color: white;
  box-shadow: 0 5px rgb(3, 3, 105);
  border-color: rgb(3, 3, 105);;
  transform: translateY(4px);
}